---
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro"
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro"
import Search from "@astrojs/starlight/components/Search.astro"
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro"

const path = Astro.url.pathname

const navLinks = [
  { name: "Getting Started", url: "/getting-started/overview/" },
  { name: "Build with LiteAI", url: "/build/custom-subagents/" },
  { name: "Configuration", url: "/configuration/settings/" },
  { name: "Reference", url: "/reference/cli-reference/" },
  { name: "Platforms", url: "/platforms/overview/" },
]

function isActive(url: string) {
  const base = url.split('/')[1];
  return path.includes(`/${base}/`);
}
---

<div class="header sl-flex">
  <div class="title-wrapper sl-flex">
    <SiteTitle {...Astro.props} />
  </div>
  
  <div class="middle-group sl-flex">
    {navLinks.map(({ name, url }) => (
      <a class="nav-link" aria-current={isActive(url) ? 'page' : undefined} href={url}>{name}</a>
    ))}
  </div>
  
  <div class="right-group sl-flex">
    <Search {...Astro.props} />
    <ThemeSelect {...Astro.props} />
    <SocialIcons {...Astro.props} />
  </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .title-wrapper {
    overflow: clip;
    padding: calc(0.25rem + 2px) 0.25rem calc(0.25rem - 2px);
    margin: -0.25rem;
    flex: 0 0 auto;
  }

  .middle-group {
    display: flex;
    gap: var(--sl-nav-gap);
    align-items: center;
    flex: 0 0 auto;
  }

  .right-group {
    gap: 1rem;
    align-items: center;
    flex: 0 0 auto;
    margin-inline-start: auto;
  }
  
  @media (max-width: 55rem) {
    .middle-group {
      display: none;
    }
  }

  /* Desktop grid layout for sidebar alignment */
  @media (min-width: 50rem) {
    :global(:root[data-has-sidebar]) {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }
    :global(:root:not([data-has-toc])) {
      --__toc-width: 0rem;
    }
    .header {
      --__sidebar-width: max(0rem, var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x));
      --__main-column-fr: calc(
        (
            100% + var(--__sidebar-pad, 0rem) - var(--__toc-width, var(--sl-sidebar-width)) -
              (2 * var(--__toc-width, var(--sl-nav-pad-x))) - var(--sl-content-inline-start, 0rem) -
              var(--sl-content-width)
          ) / 2
      );
      display: grid;
      grid-template-columns:
        minmax(calc(var(--__sidebar-width) + max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))), auto)
        1fr
        auto;
      align-content: center;
    }
  }
</style>
